#containerTargetUser{
    width: auto;
    box-sizing: border-box;
    border: none;
}
#DropdownContainerMenuUser{
    width:200px !important;
}
#bodytargetaUser{
    text-align: justify;
    border: none;
}
#targetaUser{
    border:none;
}
#listaUser{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
#btn_cerrarSesion{
    border-radius: 5px;
    /* //background: rgba(red, green, blue, alpha); */
}
