#PlanillaProduccion{
    border-bottom: 25px;
    text-align: center;
}
.contenedorRechazos > *{
    margin: 0px;
}
.contenedorRechazos{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: inline-block;
}
.tipoRechazo{
    width: 30px;
    height: 30px;
}
.contCheck > *{
    
}
.contenedorFormZonas > *{
display: inline-block;
margin-left: 10px;
}
.contenedorRechazosYzonas{
display: inline-block;
border-radius: 7px;
border: solid grey 1px;
padding: 10px;
box-sizing: border-box;
}
.contenedorFormZonas .zona{
    width: 60px;
}
.contenedorFormZonas{
    margin-left: 20px;
    width: 100%;
}