.contenedor *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#PlanillaProduccion{
    border-bottom: 25px;
    text-align: center;
}
.contenedorRechazos > *{
    margin: 0px;
    padding: 0px;
}
.contenedorRechazos{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: inline-block;
}
.tipoRechazo{
    width: 30px;
    height: 30px;
}
.contenedorFormZonas > *{
display: inline-block;
margin-left: 10px;
}
.contenedorRechazosYzonas{
display: inline-block;
border-radius: 7px;
border: solid grey 1px;
padding: 10px;
box-sizing: border-box;
width: auto;
}
.Scrap{
    display: inline-block;
    border-radius: 7px;
    border: solid red 1px;
    padding: 10px;
    box-sizing: border-box;
    width: auto;
    }
.Rechazo{
    display: inline-block;
    border-radius: 7px;
    border: solid yellow 1px;
    padding: 10px;
    box-sizing: border-box;
    width: auto;
}
.contenedorFormZonas .zona{
    width: 60px;
}
.contenedorFormZonas{
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
}